.generation_content {
  background-image: url(../images//bg-intro-mobile.svg);
  background-repeat: no-repeat;
  background-size: 788px 108%;
  padding-bottom: 3rem;
  img {
    width: 100%;
  }
 
  div {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    h1 {
      font-size: 3rem;
      font-weight: 500;
    }
  }
}

