.reason {
  background-color: hsl(220, 16%, 96%) ;
  text-align: center;
  padding-bottom: 3rem;
  padding-top: 3rem;
 article {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
 }
 ul {
  width: 90%;
  margin-left: auto;
  margin-right: auto;

 }
}