footer {
  text-align: center;
  background-color: #343a40;
  padding-bottom: 1rem;
  padding-top: 1.5rem;
  nav {
      width: 90%;
      margin-left: auto;
      margin-right: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      line-height: 2rem;
  .list_link > li> a {
    color: white;
  }
  ul {
    margin: 0;
  }
  }

}